#scoreboard{
    background-color: yellowgreen;
    font-weight: 700; padding:10px;;
    font-size: 30px; text-align: center;
}
#container{
    display: flex; background-color: orange;
    justify-content: space-evenly;
}
#leftContainer{
    background-color: orange;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    gap: 50px; margin: 25px 25px 25px 50px;
}
#rock, #paper, #scissors{
    background-color: red; border-radius: 15px;
    border: 3px dotted black;
    min-width: 150px; min-height: 150px;font-size: 100px;
    text-align: center;
}
#rightContainer{
    display: flex; flex-direction:column; margin-top: 25px;
    
}
#title{
    font-size: 55px; font-weight: 700; background-color: green;
    border-radius:5px; padding-left: 50px; padding-right: 50px; text-align: center;
}
#innerRight{
    padding:50px; display: flex;
}
#playerChoice, #computerChoice{
    min-width: 200px; min-height: 200px; border-radius: 8px;
    border: 10px solid black;
    background-color: yellow; margin: 75px;
    font-size: 150px; padding:10px; text-align: center;
}